#navButton {
  color: #0c0d0d;
  border: none;
  text-align: center;
  padding-right: 20px;
  padding-top: 5px;
  padding-left: 0px;
}

#navButton:hover {
  text-decoration: underline;
  background-color: #dc3545;
}