.profile-view {
  margin-top: 20vh;
  color: #fff;
}

.space {
  color: #0c0d0d;
}

.header {
  color: #dc3545;
}

.label {
  color: #dc3545;
}

.movieContainer {
  margin-top: 20px;
}

.favourite {
  margin-bottom: 10px;
}

#remove {
  box-shadow: none;
}

#deregister {
  box-shadow: none;
}

#update {
  box-shadow: none;
}