.movie-view {
  margin-top: 30vh;
  color: #fff;
}

#image {
  float: left;
  margin-right: 2vw;
}

.link {
  color: #fff;
}


.link:hover {
  color: #dc3545;
  text-decoration: none;
}

.space {
  color: #0c0d0d;
}

#addMovieButton {
  box-shadow: none;
}

#backButton {
  box-shadow: none;
}