.director-view {
  margin-top: 8rem;
  padding-bottom: 50vh;
  color: #fff;
}

#list {
  padding-left: 0px;
}

.listItem {
  list-style: none;
}

#link {
  color: #fff;
}

#link:hover {
  color: #dc3545;
  text-decoration: none;
}